$color-white: #ffffff;
$color-light-gray: #f3f3f3;
$color-gray: #a3a3a3;
$color-medium-gray: #afafaf;
$color-dark-gray: #bdbdbd;
$color-black: #000000;
$color-neon-blue: #4b51ef;
$color-red: #d91313;
$color-light-green: #52cf4f;

$font-size-xs: 11px;
$font-size-md: 12px;
$font-size-lg: 14px;
